@using MyCars.Common;
@model MyCars.Web.ViewModels.AdCars.SingleAdCarViewModel
@{
    this.ViewData["Title"] = Model.BrandName + " " + Model.Model;
}

<meta name="keywords" content="авто, автомобили, продажба, обяви, авто обяви, автокъщи, автокъща, коли, джипове, бусове, ванове, камиони, мотоциклети, селскотопански машини, строителни машини, каравани">

@if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
{
    <li class="single-meta">
        <a asp-controller="AdCars" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Edit</a>
    </li>
    <li class="single-meta">
        <form asp-action="Delete" id="deleteForm" asp-route-id="@Model.Id"></form>
        <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
    </li>
}
<body>
    <link rel="stylesheet" href="//www.mobile.bg/styless/styless.css?1327" type="text/css">
    <table width=980 cellpadding=0 cellspacing=0 border=0 style="margin-top:10px;">
        <tr>
            <td width=680 valign="top">
                <div style="margin-top:17px;">
                    <table width="660" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="500" valign="top">
                                <div style="font-size: 18px; font-weight: bold; padding-bottom: 2px; color: #333;">
                                    <h1 style="margin: 0; font-size:18px;">@this.ViewData["Title"]</h1>
                                </div>
                                <label>Created On: @Model.CreatedOn</label>
                            </td>
                            <td align="left" valign="top" style="position: relative">
                                <div style="font-size:16px; margin: 14px 10px 0 0; float:right">
                                    <strong style="color: #09f;">@Model.Price лв.</strong>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

                <table class="newAdImages" style="margin-top:10px;">
                    <tr>
                        <td class="img VIP">
                            <div class="imgHolder">
                                <img src="@Model.ImageUrl" class="big">
                            </div>
                        </td>
                        <td class="space"></td>
                        <td class="agencia" style="position: relative">
                            <div class="boxDilar" style="margin-bottom: 20px;">
                                <div class="AG">
                                    <div class="adress" style='font-size:13px'>Обявата е качена от:</div>
                                    <strong style='font-size:16px'>@Model.AddedByUserUserName</strong><br /><br />
                                    <div class="phone" style='font-size:13px'>За контакти:</div>
                                    <hr />
                                    <div class="adress" style="font-size: 15px; padding-left:0px; width: 144px; white-space: nowrap;">Локация: @Model.Location</div>
                                    <div class="phone" style='font-size:13px'>GSM: @Model.GsmNumber</div>
                                    <div class="phone" style='font-size:10px'>Еmail: @Model.Email</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>

                <div style="width:300px; display:inline-block; float:left; margin-top:15px; overflow: hidden;">
                    <strong style="font-size:18px;color:#333;">@this.ViewData["Title"]</strong><br />
                    <ul class="dilarData">
                        <li>Дата на производство</li>
                        <li>@Model.YearOfManufacture</li>
                        <li>Тип двигател</li>
                        <li>@Model.FuelName</li>
                        <li>Мощност</li>
                        <li>@Model.Power к.с.</li>
                        <li>Скоростна кутия</li>
                        <li>@Model.TransmissionName</li>
                        <li>Купе</li>
                        <li>@Model.BodyTypeName</li>
                        <li>Пробег</li>
                        <li>@Model.TraveledKm км</li>
                        <li>Цвят</li>
                        <li>@Model.Color</li>
                    </ul>
                </div>
                <table width=660 cellspacing=0 cellpadding=0 border=0>
                    <tr>
                        <td valign=top>
                            <label class="extra_cat">Особености и Екстри</label><br />
                            @foreach (var feature in Model.Features)
                            {
                                <div style="margin-bottom:5px;">• @feature.FeatureName</div>
                            }
                        </td>
                    </tr>
                </table>
                <div style="width:660px; font-size:14px; font-weight:bold; padding-bottom:10px; margin-bottom:10px; margin-top:10px;">Допълнителна информация:</div>
                <table width=660 cellspacing=0 cellpadding=0 border=0>
                    <tr><td style="line-height:24px; font-size:14px; color: #444;">@Model.Description</td></tr>
                </table>
            </td>
        </tr>
    </table>
</body>

<hr />

<div class="modal" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete car</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Do you want to delete "@Model.BrandName @Model.Model"?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" onclick="deleteForm.submit()">Yes</button>
            </div>
        </div>
    </div>
</div>